{% extends "base.html" %}
{% block body %}     
    <div id="app">
        <form class="form" action="" @submit.prevent="post" method="post">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" v-model="url" name="url" id="url" placeholder="urlmu">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" v-model="shortlink" name="shortlink" id="shortlink" placeholder="shortlink (kosongkan untuk random)">
                </div>
            </div>
            <div v-if="notifikasi_show" class="notification">
                {% raw %}
                    <button class="delete" @click="close"></button>
                    <p>
                        {{ notifikasi }}
                        <a v-if="disp_shortlink" v-bind:href="disp_shortlink">{{ disp_shortlink }}</a>
                    </p>
                </div>
            {% endraw %}
            <div class="field">
            <button class="button is-primary is-fullwidth" type="submit">shorten !</button>
            </div>
            <div class="field">
            <a href="/logout/" class="button is-fullwidth">Logout</a>
            </div>
        </form>
    </div>
    <script>
        app = Vue.createApp({
            data() {
                return {
                    url: "",
                    shortlink: "",
                    notifikasi: "ini notifikasi",
                    disp_shortlink: "",
                    notifikasi_show: false
                }
            },
            methods: {
                async post() {
                    let payload = {
                        url: this.url,
                        shortlink: this.shortlink
                    }
                    // console.log(payload)
                    const response = await fetch('/api/', {
                        method: "POST",
                        credentials: "same-origin",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(payload)
                    })
                    response.json().then(data => {
                        if (data.ok) {
                            this.notifikasi = `sukses!`;
                            this.disp_shortlink = `http://${
                                window.location.host
                            }${
                                data.shortlink
                            }`
                            this.notifikasi_show = true;
                        } else {
                            this.notifikasi = data.error;
                            this.notifikasi_show = true;
                            this.disp_shortlink = ""
                        }
                    })


                },
                close() {
                    this.notifikasi_show = false
                }
            }
        }).mount("#app")
    </script>
{% endblock body %}
